#portfolio h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 25px 0;
  font-size: 32px;
  color: #1f2235;
  font-family: "Poppins Bold";
}
#portfolio h5{
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 3px;
  margin: 8px 0 20px 0;
  font-size: 12px;
  color: var(--black);
}
.portfolio-conatiner {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:1.0rem;
}
.portfolio-item{
  align-items: center;
   background: #fff;
   padding:1.5rem;
   border-radius:2rem;
   transition:var(--transition);
}
.portfolio-item:hover{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
   background:transparent;

}
.portfolio-item-image{
   border-radius: 1.5rem;
   overflow: hidden;

}
.portfolio-item h3{
   margin: 1.2rem  0 2rem;

}
.portfolio-item-cta{
   display:flex;
   gap: 1rem;
   margin-bottom: 1rem;
}
/* ===========media query===========  */

@media screen and (max-width:1024px) {
  .portfolio-conatiner {
    grid-template-columns:1fr 1fr;
    gap: 1.2rem;
  }

}
@media screen and (max-width:600px) {
  .portfolio-conatiner {
    grid-template-columns:1fr;
    gap:1rem;
  }

}